#title {
    font-family: sans-serif;
}

body {
    text-align: center;
}

#Apps {
    background:linear-gradient(#40E0D0, #00FFFF);
)
    width:100%;
    height: 800px;
}

#myCarousel {
    background-color: darkcyan;
}